*{
    padding: 0;
    margin: 0;

}
.container{
    background-color: #09101F;
    color: white;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    
}
span{
    color: #4FC988;
}
ul{
    list-style-type: none;
     

}
li{
    float: left;
}
ul li a{
   padding: 30px; 
   text-decoration: none;
   font-size: x-large;
   color:white;
   text-transform: uppercase;

}
ul li a:hover{
    background-color: black;
    text-align: center;
    justify-content: center;
}
.one{
    background-color: black;
    background-image: url(/3d-render-black-hand-holding-golden-coin-money-removebg-preview.png) ;
    background-repeat: no-repeat;
    background-position: right;
    background-size: 50%;
    height: 70vh;
    width: 100%; 
    padding: 20px;

}
.two{
    color: white;
    padding: 100px;
    justify-content: space-between;
    align-content: center;
    font-size: xx-large;
}
.two a{
    text-decoration: none;
    color: black;
}
img{
    height: 50vh;
    width: 100%;
    padding: 20px;
    background-position: right;
   

}
.three{
    font-size: 20px;
    
    
}
.four{
    background-color:#f4f4f4 ;
    color: black;
    width: 15%;
    height: 50px;
    padding-top: 20px;
    padding-left: 35px;
    font-size: x-large;
}
.five{
    background-color: #05080F;
    height: 50vh;
    padding: 100px;
    color: white;
    display: flex;
    justify-content: space-between;
    
}
.six{
    padding: 30px;
    
}
.six h3{
    font-size:40px ;
    margin: 10px;
}
.six h4 {
    background-color:white;
    width: 55%;
    height: 50px;
    padding-top: 25px;
    padding-left: 40px;
    font-size: 20px;
    margin: 10px;
    text-decoration: none;
}
.six a{
    text-decoration: none;
    color: black;
}
.seven{
    background-color: #f4f4f4;
    height: 40vh;
    /* width: -20%; */
    padding-left: -500px;
    
}
.eight{
    background-color: #f4f4f4;
    height: 60vh;
    padding-top: 0px;
    padding: 100px;
    text-align: center;
    
    
}
.service{
    font-size: x-large;
    padding-top: 0px;
}
strong{
    font-size: xx-large;
}
.nine{
    display: flex;
    height: 80vh;
    padding: 30px;
    text-align: center;
    justify-content: center;
    
    
    
}
.front{
    width: 300px;
    height: 20vh;
}
.up{
    background-color:#323031;
    padding: 20px;
    padding-top: 70px;
    height: 20vh;
    width: auto;  
    display: none;
    color: white; 
}
.card:hover{
    
    margin: 20px;
    
   
    .front{
        display: none;
        width: 200px;
    }
    .up{
        display: flex;
        flex-direction: column;
        margin: 0;
        margin-top: -100px;
        border-radius: 30px 0px 30px 0px;
        
        
    }
        

}
.card{
    background-color:;
    height: 20vh;
    padding-top: 100px;
    

}
.code{
    background-color:;
    height: 20vh;
    padding-top: 100px;
}
.coding{
    width: 300px;
    height: 20vh;
}
.down{
    background-color: #323031c5;
    padding: 20px;
    padding-top: 70px;
    height: 20vh;
    width: auto; 
    color: white;  
    display: none;
    
}
.code:hover{
   
    margin: 20px;
   
   
    .coding{
        display: none;
        width: 200px;
    }
    .down{
        display: flex;
        flex-direction: column;
        margin: 0;
        margin-top: -100px;
        border-radius: 30px 0px 30px 0px;
        
        
    }
        

}
.robo{
    background-color:;
    height: 20vh;
    padding-top: 100px;
}
.mation{
    width: 300px;
    height: 20vh;
}
.robo:hover{
    background-color: #f4f4f4;
    margin: 20px;
   
   
    .mation{
        display: none;
        width: 200px;
    }
    .form{
        display: flex;
        flex-direction: column;
        margin: 0;
        margin-top: -100px;
        border-radius: 30px 0px 30px 0px;
       
    }
        

}
.form{
    background-color: #32303196;
    padding: 20px;
    padding-top: 70px;
    height: 20vh;
    width: auto;   
    display: none;
    color: white;
}
.ten{
    background-color:#3D2B1f;
    height: 20vh;
    color: white;
    font-size: xx-large;
    text-align: center;
    padding: 50px;
}
.ten h5{
    padding: 20px;
}
.hire h6 a{
    background-color: black;
    padding: 10px;
    font-size: x-large;
    text-decoration: none;
    width: 20%;
    color:white;
}
.hire h6 a:hover{
    background-color: #3d3b8e;
    color: white;
}
.con{
    background-color: #000000;
    height: 20vh;
    text-align: center;
    padding: 30px;
}
.con h1{
    padding: 10px;
    color: white;
}
.con p {
    font-size: large;
    color: #4F78CA;
}
@media screen and (max-width:600px){
    li{
        float: none;
    }
    ul li a:hover{
    background-color: rgb(133, 18, 18);
    background-size: 10px;
    text-align: center;
    display: block;
    margin: 5px;
    padding: 10px;
    
    
}
.one{
    padding-bottom: 50px;
    height: 75vh;
    padding-top:0 ;
}
.two h2{
    background-color: rgba(102, 12, 12, 0.612);
    height: 30px;
    padding: 15px;
    width: 50%;
    border-radius: 0px 15px 0px 15px;
    
}
.two a{
    color: white;
}

.five{
    display: block;
    padding: 10px;
    height: 100vh;
    width: 100%;
    background-color: none;

}
.six {
    padding: 20px;  
    height: 40vh; 
    align-content: center;
    
    width: 470px;
}
.six h4{
    display: flex;
    width: 250px;
    height: 40px;
    border-radius: 15px 0px 15px 0px;
    font-size: 20px;
}

.seven {
    margin:-20px ;
    justify-content: center;
    width: 100%;   
}

.nine{
    display: block;
    overflow: hidden;
    padding: 0px;
    height: 170vh;
    width: 100%;
    margin: 0px;
}

.up{
    padding: 20px;
    padding-top: 15px;
    height: 100px;
    margin: 10px;
    width: auto;   
    overflow: hidden;

}
.card:hover{
   
    .front{
        display: none;
        
    }
    .up{
        width: 200px;
        padding: 20px;
        height: 140px;
        font-size: large;
        border-radius: 5px 30px 5px 30px;
        background-color: #09101F;
        color: white;
        
        
    }
}
.down{
    padding: 10px;
    padding-top: 15px;
    height: 20vh;
    margin: 10px;
    width: auto;   
}
.code:hover{

.front{
       display: none;
       
   }
.down{
    width: 200px;
    padding: 20px;
    height: 150px;
    font-size: large;
    border-radius: 5px 30px 5px 30px;
    background-color:#05080F;       
}
       

}
.form{
    padding: 10px;
    padding-top: 15px;
    height: auto;
    margin: 10px;
    width: auto;  
    

}
.robo:hover{

.front{
    display: none;
    
}
.form{
    width: 200px;
    padding: 20px;
    height: 150px;
    border-radius: 7px 30px 7px 30px;
    background-color: #000000;
    color: white;
    
    
}
    

}
.eight{
    height: 1000px;
    padding-top: 20px;
    
}
.service{
     font-size: 20px;
    
}
.ten{
    height: auto;
}



}
@media screen and (min-width:601px) and (max-width:900px) {
    ul li a{
   padding: 15px; 
   text-decoration: none;
   font-size: x-large;
   color:white;
   text-transform: uppercase;

}
ul li a:hover{
    background-color: rgba(12, 92, 102, 0.373);
    background-size: 10px;
    padding: 10px;
    
}
.two h2{
    background-color: rgba(12, 92, 102, 0.375);
    height: 4vh;
    padding: 30px;
    width: 20%;

}
.two a{
    color: white;
}
.five{
    
    text-align: center;
    padding: 10px;
    height: 70vh;
    width: 110%;

}
.six{
    padding: 20px;  
    height: 60vh;
    width: 300px;
}
.six h4{
    padding: 10px;
    padding-top: 30px;
    width: 230px;
    height: 40px;
    border-radius: 15px 0px 15px 0px;
    font-size: 20px;
}
.seven {
 width: 100%;
 padding: 10px;
    
}
.eight{
    padding: 10px;
    padding-top: 20px;
    height: 70vh;
}
.service{
    font-size: larger;
}
.nine{
    padding: 20px;
    width: 97%;
}
.card:hover{
    
    .front{
        display: none;
        
    }
    .up{
        width: 200px;
        padding: 20px;
        height: 150px;
        font-size: large;
        border-radius: 5px 30px 5px 30px;
        
        
    }
}
.code:hover{
   
   

    
    
   
    .front{
        display: none;
        
    }
    .down{
        width: 200px;
        padding: 20px;
        height: 170px;
        font-size: large;
        border-radius: 5px 30px 5px 30px;
        align-items: center;
        
        
    }
        

}
.robo:hover{

    .front{
        display: none;
        
    }
    .form{
        width: 180px;
        padding: 20px;
        height: 180px;
        border-radius: 7px 30px 7px 30px;
        
        
    }
        

}

}