body{
    background-color:floralwhite;
    padding: 16px 20px 16px 20px;  
    margin: 20px 15px 20px 0px;
}
.container{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px;
    margin: 20px;
    border: solid 2px;
    border-radius: 20px;
    
}


.matric{
    background-color: blue;
    align-items: center;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    color: white;
}
.Check{
    background-color:rgb(238, 238, 244);
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.Check button{
    border: solid 3px;
    color: white;
    border: 4px solid blue;
    background-color: black;
}   
.header{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.form{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: underline;
}
.up{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.copy{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin: 0;
    border: solid;
    border: 1px;
    
    /* text-decoration: overline; */
    width: 100%;
    
    
}
.Lagos{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
hr{
    background-color: black;
    height: 2px;
    margin-right: 0;

}